<html>
	<head>
		<title>Gestor de eventos personalizado</title>
		<meta charset="utf-8"></meta>
		<link rel="icon" type="image/png" href="../img/favicon.png" sizes="16x16" />
	    <link rel="stylesheet" type="text/css" th:href="@{../styles/main.css}" />	
	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
	</head>
	<body>	
		<nav class="navbar navbar-default content container">
		  <div class="container-fluid">
		    <div class="navbar-header">
		       <span class="navbar-brand iconImage"></span>
		    </div>		   
		  </div>
		</nav>	
		<div class="content container main-content">
			<h1 class="text-center bg-success">¡Conectado a Facebook correctamente!</h1>
			<p class="text-center bg-info text-warning lead">Se ha realizado correctamente la conexión a su cuenta de Facebook.</p>
			<p class="text-center bg-info text-info lead">Haz click <a href="/landingPage" class="btn btn-primary">aqui</a> para ir pasando por las siguientes etapas de analisis.</p>
		</div>		
	</body>
</html>